.block {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-column-gap: 10%;
  justify-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 128px;
}

.block__section {
  width: 100%;
}

.block__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;

  a {
    color: $purple-color;

    &:hover {
      opacity: 0.85;
    }
  }
}

.block__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
  color: $blue-color;
}

.block__posts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
