.mission {
  position: relative;
  background-color: $lavender-color;
  width: 100%;
  max-width: 1280px;
  min-height: 441px;
  padding-bottom: 64px;
  margin: 0 auto;
}

.mission__container {
  width: 90%;
  max-width: 1064px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  a {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: $purple-color;

    &:hover {
      opacity: 0.8;
    }
  }

  @media (max-width: 620px) {
    flex-direction: column;
  }
}

.mission__card {
  width: 45%;
  color: $blue-color;
  padding-top: 128px;

  @media (max-width: 620px) {
    width: 90%;
  }
}

.mission__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.mission__name {
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  margin-bottom: 16px;
}

.mission__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $dark-grey-color;
  margin-bottom: 16px;
}

.pattern {
  top: -24px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24px;
  display: flex;
}

.pattern__yellow {
  width: 70%;
  height: 100%;
  background-color: $yellow-color;
}

.pattern__purple {
  width: 30%;
  height: 100%;
  background-color: $purple-color;
}
