* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

button {
  border: none;
}

input {
  &:-webkit-autofill,
  &:-webkit-autofill:focus {
    transition: all 0s 50000s;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.leaflet-container {
  width: 100%;
  height: 355px;
}
