.post {
  width: 100%;
  border: 1px solid rgba($medium-grey-color, 0.1);
  padding: 32px;
  margin-top: 32px;
}

.post__image {
  position: relative;
  max-width: 600px;
  width: 100%;
  aspect-ratio: 3/2;
  margin: 0 auto;
  margin-bottom: 24px;
}

.post__info {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 16px;

  a {
    color: $purple-color;

    &:hover {
      opacity: 0.85;
    }
  }
}

.post__title {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -1px;
  margin-bottom: 16px;
  color: $blue-color;
}

.post__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 32px;
  color: $medium-grey-color;
}

.post__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 204px;
  height: 56px;
  background: $yellow-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $blue-color;

  &:hover {
    background-color: darken($color: $yellow-color, $amount: 5%);
    cursor: pointer;
  }
}
