.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a {
    color: $white-color;

    &:hover {
      opacity: 0.8;
    }
  }
}

.active {
  font-weight: 900;
}
