.footer {
  min-height: 560px;
  width: 100%;
  background-color: $blue-color;
  padding-top: 52px;
  padding-bottom: 56px;
}

.footer__container {
  width: 90%;
  height: 90%;
  margin: auto;
}

.footer__menu {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 880px) {
    flex-direction: column;
  }
}

.footer__logo {
  font-size: 24px;
  font-weight: 700;
  color: $white-color;
}

.footer__navigation {
  width: 60%;
  max-width: 430px;

  @media (max-width: 880px) {
    width: 100%;
  }
}

.footer__contacts {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $white-color;
  opacity: 0.7;

  a {
    color: $white-color;
    &:hover {
      opacity: 0.8;
    }
  }

  @media (max-width: 570px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__address {
  font-size: 16px;
  line-height: 28px;
}

.footer__icons {
  width: 30%;
  max-width: 144px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    &:hover {
      opacity: 0.85;
      cursor: pointer;
    }
  }

  @media (max-width: 570px) {
    margin-top: 10px;
  }
}
