.header {
  width: 100%;
  background-color: $lavender-color;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 128px;
}

.header__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: -1px;
  margin-bottom: 16px;
  color: $blue-color;
}

.header__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: $medium-grey-color;
  margin-bottom: 32px;
}

.header__route {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: $blue-color;
}
