.block {
  width: 90%;
  max-width: 1240px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: center;
  margin: 96px auto;

  @media (max-width: 1080px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 540px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 380px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.block__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba($medium-grey-color, 0.6);
}

.block__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $medium-grey-color;
}
